*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#0B3D91,#2196F3);
color:#fff;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
top:0;
left:0;
}

.logo{
font-size:28px;
font-weight:bold;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#FFD54F;
}

.hero{
min-height:100vh;
height:auto;
padding:140px 20px 60px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
max-width:700px;
margin:auto;
line-height:1.7;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:16px 40px;
background:#FFD54F;
color:#0B3D91;
text-decoration:none;
font-weight:bold;
border-radius:50px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}
.stats{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
flex-wrap:wrap;
}

.card{
background:rgba(255,255,255,0.12);
padding:30px;
border-radius:20px;
width:220px;
backdrop-filter:blur(8px);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
background:rgba(255,255,255,0.2);
}

.card h2{
font-size:40px;
margin-bottom:10px;
color:#FFD54F;
}

.card p{
font-size:18px;
}
.courses{
padding:80px 8%;
background:#ffffff;
color:#222;
text-align:center;
}

.courses h2{
font-size:40px;
margin-bottom:40px;
color:#0B3D91;
}

.course-grid{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.course-card{
background:#f5f7fb;
padding:30px;
border-radius:20px;
width:320px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
transition:.3s;
}

.course-card:hover{
transform:translateY(-10px);
}

.course-card h3{
margin-bottom:15px;
color:#0B3D91;
}

.course-card p{
line-height:1.6;
}
