*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:linear-gradient(135deg,#0B3D91,#2196F3);
color:#fff;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,0.08);
backdrop-filter:blur(10px);
position:fixed;
width:100%;
top:0;
left:0;
}

.logo{
font-size:28px;
font-weight:bold;
}

nav a{
color:#fff;
text-decoration:none;
margin-left:25px;
font-weight:600;
transition:.3s;
}

nav a:hover{
color:#FFD54F;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0 20px;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
max-width:700px;
margin:auto;
line-height:1.7;
margin-bottom:35px;
}

.btn{
display:inline-block;
padding:16px 40px;
background:#FFD54F;
color:#0B3D91;
text-decoration:none;
font-weight:bold;
border-radius:50px;
transition:.3s;
}

.btn:hover{
transform:scale(1.05);
}
